/* 
TO DO:
1. build the cards visually first, then worry about the media queries.
2. make sure to use flexboxes so the responsiveness (mobile variant) is kosher.
3. media queries for responsiveness.
4. use variables in css. 
5. media query it up for fun styling. (hidden bits)
6. Add keyboard focus????? other accessibility stuff??????
*/



/* 1|| gen: */

* {
    box-sizing: border-box;
    margin: 100px;
}

body {
    /* change bg color to #0c0c0c when done testing */
    background-color: #2d4046;
    color: white;
}



/* 2|| all content (cards 1-4): */

content {
    /* the box holding all cards */
    display: flex;
    flex-flow: column wrap;
    /* is the bottom line necessito? */
    /* flex: 1 0 200px; */
    align-content: center;
}

section {
    /* formatting for each individual card */
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    padding: 50px;
    background-color: black;
}

/* card 2-4 labels */
section h2 {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}



/* 3|| card 1: */
section h1 {
    font-size: 80px;
}

/* expand button */
.exp {
    color: white; /*pc: dt */
}



/* 4|| card 2: */
#about {
    color: white; /*pc: dt */
}



/* 5|| card 3: */
#work {
    color: white; /*pc: dt */
}



/* 6|| card 4: */
#contact {
    color: white; /*pc: dt */
}



/* 7|| footer: */

footer {
    color: white;
        /* pc: dt */
}

#copyright {
    color: white;
        /* pc: dt */
}