/* 
TO DO:
1. build the cards visually first, then worry about the media queries.
2. make sure to use flexboxes so the responsiveness (mobile variant) is kosher.
3. use variables in css. 
4. media query it up.
5. Add keyboard focus?????
*/


/* 1|| gen: */
* {
    box-sizing: border-box;
    margin: 100px;
}

body {
    /* change bg color to #0c0c0c when done testing */
    background-color: #2d4046;
    color: white;
}

section {
    /* should apply to each card */
    display: flex;
    /* flex: 1 0 200px; */
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: black;
}

/* intro card ("intro" section id): */
#intro {
    color: white; /*pc: dt */
}

/* name */
h1 {
    color: red; /* pc: dt */
}

/* expand button */
.exp {
    color: white; /*pc: dt */
}



/* 3|| content (cards 1-3): */
content {
    color: white; /*pc: dt */
}

/* card one ("about" section id): */
#about {
    color: white; /*pc: dt */
}

/* card two ("work" section id): */
#work {
    color: white; /*pc: dt */
}

/* card three ("contact" section id): */
#contact {
    color: white; /*pc: dt */
}



/* 4|| footer (copyright): */
footer {
    text-align: center;
}

#copyright {
    text-align: center;
}